.container {
  background-color: #1a1a1a;
  padding: 2rem;
  scroll-behavior: smooth;
}

.cardContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
}

nav ul li {
  margin: 0;
}


