.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(4px);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    flex-direction: column;
}


.noScroll {
    overflow: hidden;
}


.overlay.show {
    opacity: 1;
    visibility: visible;
}

.modalWrapper {
    display: flex;
    flex-direction: column;
    background-color: transparent;

    max-width: 720px;
    width: 100%;    
    overflow-y: auto;
    opacity: 0;
    transform: translateY(-20px) scale(0.9);
    transition: opacity 0.3s ease, transform 0.3s ease;

}

.modalWrapper.show {
    opacity: 1;
    transform: translateY(0) scale(1);
}

.modal {
    padding: 20px;  
        background-color: var(--background-color);

        
    border-radius: 12px;
    box-shadow: 0 1px 10px rgba(var(--boxShadow), 0.1)
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.title {
    font-size: 1.25rem;
    font-weight: bold;
}

.closeButton {
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    color: #666;
}

.closeButton:hover {
    color: #333;
}

.content {
    padding: 20px;
    background: var(--bg-panel);
    border-radius: 8px;
    overflow: hidden;
}

.footer {
    user-select: none;
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    background: transparent;
    width: 100%;
    box-sizing: border-box;
    opacity: 0;
    transform: translateY(-50px) scale(0.9);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.footer.show {
    opacity: 1;
    transform: translateY(0) scale(1);
}

.button {
    padding: 8px 16px;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 10px;
    font-weight: bold;
    text-transform: uppercase;
    transition: background-color 0.3s ease, color 0.3s ease;
    display: flex;
    align-items: center;
}

.button:hover {
    background-color: white;
    color: black;
}

.button::before {
    content: '';
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 8px;
}

.button.cancel::before {
    content: '×';
    font-size: 20px;
    line-height: 16px;
}

.button.ok::before {
    content: '✓';
    font-size: 18px;
    line-height: 16px;
}



/* New class to hide body scroll */
:global(.modal-open) {
    overflow: hidden;
}
