.container {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.userList {
  list-style-type: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  margin-top: 20px;
}

.userItem {
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-color: var(--cardOverlay);
}

.userInfo {
  padding: 15px;
  flex-grow: 1;
}

.userInfo h3 {
  margin: 0 0 10px 0;
  font-size: 18px;
}

.userInfo p {
  margin: 5px 0;
  font-size: 14px;
}

.userActions {
  display: flex;
  justify-content: space-between;
  padding: 10px 15px;
  background-color: var(--cardOverlay);
}

.editForm {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 350px;
}
